header {
    max-width: 100%;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 10;
  }
  
  .header-container {
    min-height: 3rem;
    display: flex;
  
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 0;
    background: rgb(238, 180, 222);
  }
  
  .header-butons {
    display: flex;
    justify-content: space-between;
    height: 3rem;
    align-items: center;
    column-gap: 10px;
  }
  
  .notification {
    height: 2rem;
    width: 2.4rem;
    background: transparent;
    border: none;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    transition-duration: 1s;
  }
  
  .notification:hover {
    scale: 1.3;
    animation: bell 0.5s linear 0s 2 normal both;
  }
  
  @keyframes bell {
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(25deg);
    }
  
    50% {
      transform: rotate(0deg);
    }
  
    75% {
      transform: rotate(-25deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  .profile-photo {
    height: 2rem;
    width: 2rem;
    background: white;
    border: solid 1px black;
    color: gray;
    border-radius: 50%;
  }
  
  .profile-container-singin {
    position: relative;
    width: 100%;
  }
  
  .dropdown-btn {
    background: transparent;
  
    width: 100%;
    border: none;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    border-radius: 0.5em;
    cursor: pointer;
  }
  
  .arrow {
    margin-left: 5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: transform ease-in-out 1s;
  }
  
  .dropdown-content {
    list-style: none;
    position: absolute;
    top: 3.2em;
    width: 100%;
    visibility: hidden;
    overflow: hidden;
  }
  
  .dropdown-content li {
    background: gray;
    border-radius: 0.5em;
    position: relative;
    left: 100%;
    transition: 1s;
    transition-delay: calc(200ms * var(--delay));
  }
  
  .dropdown-btn:focus + .dropdown-content li {
    left: 0;
  }
  
  .dropdown-btn:focus + .dropdown-content {
    visibility: visible;
  }
  
  .dropdown-btn:focus > .arrow {
    transform: rotate(180deg);
  }
  
  .dropdown-content li:hover {
    background: #1d1f24;
  }
  
  .dropdown-content li a {
    display: block;
    padding: 0.7em 0.5em;
    color: #fff;
    margin: 0.1em 0;
    text-decoration: none;
  }
  .dropdown-content li a:hover {
    scale: 1;
  }
  
  .notification-container {
    position: relative;
  }
  
  .dropdown-notification-content {
    list-style: none;
    position: absolute;
    top: 3.2em;
    right: 100%;
    visibility: hidden;
    padding-left: 0 !important;
    overflow: hidden;
    background: gray;
    border-radius: 1rem;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .dropdown-notification-content li {
    background: transparent;
    position: relative;
    right: 100%;
    transition: 1s;
    transition-delay: calc(200ms * var(--delay));
    width: max-content;
    max-width: 25rem;
  }
  
  .notification:focus + .dropdown-notification-content li {
    right: 0;
  }
  
  .notification:focus + .dropdown-notification-content {
    visibility: visible;
    opacity: 1;
  }
  
  .dropdown-notification-content li:hover {
    background: white;
  }
  
  .notification-content-msg > span {
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    font-size: 0.8rem;
    padding: 0.5rem;
  }
  
  .notification-content-msg {
    display: inline-flex;
    align-items: center;
    color: black;
    padding: 1rem;
  }
  
  .notification-content-msg div {
    margin-left: 1rem;
    padding: 0.5rem;
    background-color: #5a5555;
    border-radius: 1rem;
  }
  
  .notification-content-msg div > p {
    margin: 0;
  }
  
  @media (max-width: 550px) {
    .dropdown-notification-content {
      max-width: 320px;
      position: fixed;
      right: 0%;
    }
  }
  