:root {
  --primary-clr: rgb(238, 180, 222);
  --primary-hover-clr: rgb(238, 180, 222);
}

  body {
  font-family: 'tahoma', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--primary-clr);
}

.header_title {
  font-size: 20px;
}

.header-left {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.user {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.user__img {
  width: 2rem;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

section.students {
  padding: 1rem;
  flex: 1;
}

.students__list {
  display: flex;
  flex-direction: column;
  max-width: min(70rem, 80vw);
  margin: 0 auto;
  overflow-x: auto;
}

.students__table {
  border-collapse: collapse;
}

.students__table td, th {
  border: 1px solid #ccc;
  text-align: center;
  padding: .25rem;
}

.students__table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.students__table td:has(.status) {
  position: relative;
}

.students__table .status {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
width: .75rem;
height: .75rem;
border-radius: 50%;
background-color: gray;
}

.students__table tr.checked .status {
background-color: green;
}

.students__table .status.active {
background-color: green;
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.nav {
  min-width: 10rem;
  padding: 1rem;
}

.nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.nav ul li a {
  text-decoration: none; 
}

input[type=checkbox] {
  accent-color: var(--primary-clr);
}

tr:has(input[type=checkbox]:checked) .status {
  background-color: green;
}

.students__btn {
  align-self: flex-end;
  background-color: var(--primary-clr);
  padding: .5rem 1rem;
  margin: .25rem;
  color: white;
  border-radius: .5rem;
  transition: all .2s ease-in-out;
}

.students__btn:hover {
  background-color: var(--primary-hover-clr);
  transform: scale(1.05);
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100;
}

.modal {
  background-color: white;
  padding: 1rem;
  border-radius: .5rem;
  margin: 1rem;
  width: clamp(20rem, 50vw, 30rem); 
}

.modal form {
  max-width: 18rem;
  margin: 0 auto;
  padding: 1rem 0;

}

.modal .form-line {
  display: flex;
  justify-content: space-between;
  padding: .25rem
}

.modal input, select {
  width: 9rem;
  padding: .125rem .25rem;
  border-radius: .25rem;
  border: 1px solid black;
}

.modal input[type=submit] {
  background-color: var(--primary-clr);
  color: white;
  margin: .75rem;
  border: none;
}

.modal input[type=submit]:hover {
  cursor: grabbing;
  background-color: var(--primary-hover-clr);
}

.modal .confirm-buttons {
  justify-content: flex-end;
  display: flex;
}

.modal .confirm-btn {
  cursor: pointer;
  padding: .125rem .625rem;
  border-radius: .325rem;
  margin: .25rem;
  background-color: #ccc;
}

.modal .confirm-btn:hover {
  background-color: darkgray;
}

.modal .confirm-btn:not(.cancel):hover {
  background-color: rgb(238, 180, 222);
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%; 
  animation-name: slideIn;
  animation-duration: 0.5s;

  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes slideIn {
  from {top: -100px; opacity: 0}
  to {top: 0; opacity: 1}
}

.notification {
  position: relative;
 
}

.bell-icon {
  transition: transform .25s ease-in-out;
}

.bell-icon:hover {
  transform: translate3d(0,0,0) scale(1.1);
  animation: shake .5s ease-in-out 2;
  transform-origin: top;
}

.notification {
  border:none;
  position: relative;
  background-color:  rgb(238, 180, 222);
}

.notification:not(:hover) .notification-panel  {
  display: none;
}

.notification-panel {
  transition: all .4s;
  position: absolute;
  top: 100%;
  left: 0%;
  transform: translateX(-50%);
  min-width: 9rem;
  background-color: rgba(255, 255, 255, 0.815);
  color: black;
  border-radius: .325rem;
  border: 1px solid black;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);;
}

.notification-panel li {
  list-style: none;
  padding: .25rem 1rem;
  border-radius: .325rem;
  transition: all .2s;
}

.notification-panel li:hover {
  background-color: rgba(212, 107, 191, 0.492);
}

.user-container:not(:hover) .user-panel  {
  display: none;
}

.user-container {
  position: relative;
}

.user-panel {
  position: absolute;
  background-color: white;
  color: black;
  top: 100%;
  left: 30%;
  transform: translateX(-50%);
  min-width: 9rem;
  border-radius: .325rem;
  border: 1px solid black;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);;
}

.user-panel li {
  list-style: none;
  padding: .25rem 1rem;
  border-radius: .325rem;
  transition: all .2s;
}

.user-panel li:hover {
  background-color: rgba(202, 76, 191, 0.442);
}

@keyframes shake {
  0% {
    transform: rotate(0);
  }
  30% {
    transform: rotate(-50deg);
  }  
  70% {
    transform: rotate(50deg);
  }  
  100% {
    transform: rotate(0deg);
  }
}

input.invalid {
  border: 1px solid red;
}


.hidden {
  display: none;
}
